/*common style start*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}
.flex_jc-sb {
    display: flex;
    justify-content: space-between;
}
.flex_ai-c {
    display: flex;
    align-items: center;
}
.base_button,
.main .btn {
    display: inline-block;
    background: #00AFED;
    border: 2px solid #00AFED;
    border-radius: 4px;
    font: 700 24px/53px 'PT Sans', sans-serif;
    color: #fff;
    width: 208px;
    height: 60px;
    margin: 0;
    padding: 0;
}
.credit_transparent {
    display: inline;
}
.credit_transparent .btn{
    background: transparent;
    border: 2px solid #00AFED;
    color: #00AFED;
}
.base_button:hover,
.main .btn:hover {
    color: #fff;
    opacity: 0.7;
}
.credit_transparent .btn:hover {
    background: transparent;
    border: 2px solid #00AFED;
    color: #00AFED;
    opacity: 0.7;
}


.main {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 40px;
}
.main_img {
    max-width: 1140px;
    width: 100%;
    margin: 30px auto 58px;
}
.main_subtitle {
    font: 700 26px/44px 'Open Sans', sans-serif;
    color: #686868;
    margin: 100px 0 0;
}
.main_title {
    font: 700 68px/72px 'Open Sans', sans-serif;
    color: #000000;
    margin: 4px auto 0;
}
.main_description {
    max-width: 868px;
    font: 400 24px/32px 'Open Sans', sans-serif;
    color: #000000;
    margin: 25px auto 0;
}
.main_price {
    margin: 28px auto 18px;
    font: 700 42px/50px 'Open Sans', sans-serif;
    color: #000000;
}
.main_price-sale {
    display: flex;
    justify-content: center;
    color: #acb1b8;
    font-size: 20px;
    font-weight: 600;
    margin: -10px 0 20px;
}


.sets_slider {
    position: relative;
    margin: 174px auto;
    overflow-y: hidden;
    height: 500px;
}
.sets_slider-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sets_slider-title {
    font: 700 68px/72px 'Open Sans', sans-serif;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228256);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 868px;
    width: 100%;
}
.sets_slider .item {
    width: 321px;
    cursor: pointer;
}


.sets_video {
    max-width: 1172px;
    padding: 0 16px;
    margin: 174px auto 0;
    position: relative;
}
.sets_video-link {
    display: block;
    max-width: 1140px;
    width: 100%;
    position: relative;
}
.sets_video-link-img {
    width: 100%;
}
.sets_video-link:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.445613);
    transition: all 0.2s linear;
}
.sets_video-link:hover:after{
    background: rgba(0, 0, 0, 0.8);
}
.sets_video-title {
    position: absolute;
    top: 80px;
    left: 104px;
    font: 700 40px/46px 'Open Sans', sans-serif;
    color: #FFFFFF;
    z-index: 1;
    width: 445px;
}
.sets_video-watch {
    font: 700 16px/21px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #27B2ED;
    position: relative;
    padding: 0 45px 0 0;
    position: absolute;
    top: 240px;
    left: 94px;
    z-index: 1;
}
.sets_video-link:hover .sets_video-watch{
    text-decoration: underline;
}
.sets_video-watch:after {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('https://studio-evolution.ua/wp-content/themes/html5blank-master/images/karaoke-set/ic-play.png') no-repeat center;
    background-size: cover;
}
.sets_video-link:hover .sets_video-watch:after {
    transform: translateY(-50%) scale(1.1);
}


.sets_include {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
}
.sets_include-title {
    margin: 174px auto 82px;
    font: 700 52px/60px 'Open Sans', sans-serif;
    color: #000000;
    text-align: center;
}
.sets_include-tabs {
    display: none;
    background: #F2F2F2;
    border-radius: 20px;
    max-width: 200px;
    margin: 24px auto 0;
    width: 100%;
    justify-content: space-between;
}
.sets_include-tab {
    font: 600 14px/38px 'Open Sans', sans-serif;
    text-align: center;
    color: #000000;
    height: 38px;
    padding: 0 18px;
}
.sets_include-tab.active {
    color: #FFFFFF;
    background: #00AFED;
    border-radius: 20px;
}
.sets_include-content-hr {
    border-top: 1px solid #D6D6D6;
    margin: 12px auto 20px;
}



.sets_include-tab-content {
    margin: 0 0 74px;
}
.sets_include-content-title {
    font: 700 28px/34px 'Open Sans', sans-serif;
    color: #000000;
}
.sets_include-number {
    display: block;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #F5F5F5;
    font: 700 52px/34px 'Open Sans', sans-serif;
    text-align: center;
    padding: 19px 0;
}
.sets_include-subtitle {
    display: block;
    max-width: 530px;
    margin: 0 0 0 20px;
}
.sets_include-list {
    font: 400 20px/32px 'Open Sans', sans-serif;
    color: #000000;
    max-width: 555px;
}
.sets_include-list li {
    list-style: disc;
    margin: 0 0 0 20px;
}
.sets_include-evobox {
    max-width: 520px;
    width: 100%;
}
.sets_include-link {
    display: inline-block;
    margin: 20px 0 0;
    font: 600 20px/32px 'Open Sans', sans-serif;
    text-decoration-line: underline;
    color: #00AFED;
}
.sets_include-link:hover {
    text-decoration-line: none;
}
.sets_include-evosound {
    max-width: 560px;
}


.sets_benefits {
    max-width: 930px;
    padding: 0 40px;
    margin: 148px auto;
}
.sets_benefits-title {
    max-width: 678px;
    margin: 0 auto 60px;
    font: 700 52px/60px 'Open Sans', sans-serif;
    color: #000000;
    text-align: center;
}
.sets_benefits-item {
    max-width: 263px;
    width: 100%;
}
.sets_benefits-price-img {
    width: 47px;
}
.sets_benefits-garantee-img {
    width: 41px;
}
.sets_benefits-complex-img {
    width: 53px;
}
.sets_benefits-subtitle {
    font: 700 20px/32px 'Open Sans', sans-serif;
    margin: 11px 0 4px;
    color: #000000;
}
.sets_benefits-description {
    font: 400 16px/24px 'Open Sans', sans-serif;
    color: #000000;
    opacity: 0.8;
}


.sets_cart {
    padding: 0 16px;
    margin: 0 auto;
}
.sets_cart-content {
    max-width: 1140px;
    margin: 0 auto;
    box-shadow: 0px 22px 32px rgba(0, 0, 0, 0.152153);
    border-radius: 12px;
}
.sets_evoplay {
    background: linear-gradient(90deg, #72D3FA 0%, #2CB5EC 100%), #F5F5F5;
}
.sets_cart-inner {
    justify-content: space-between;
    padding: 24px 98px;
}
.sets_cart-img {
    max-width: 504px;
}
.sets_cart-item {
    max-width: 393px;
}
.sets_cart-txt {
    color: #FFFFFF;
    opacity: 0.7;
    font: 700 20px/26px 'Open Sans', sans-serif;
}
.sets_cart-title {
    color: #FFFFFF;
    font: 700 40px/48px 'Open Sans', sans-serif;
    margin: 8px 0 36px;
}
.sets_cart-price {
    color: #FFFFFF;
    font: 700 42px/50px 'Open Sans', sans-serif;
}
.sets_cart-btn,
.sets_cart .btn {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 4px;
    font: 700 24px/53px 'PT Sans', sans-serif;
    color: #00AFED;
    height: 60px;
    margin: 18px 7px 0;
    border: 0;
    width: 208px;
    padding: 0;
    text-align: center;
}
.sets_cart-btn:hover,
.sets_cart .btn:hover {
    color: #00AFED;
    opacity: 0.7;
}
.sets_cart .credit_transparent .btn {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}
.sets_cart .credit_transparent .btn:hover {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    opacity: 0.7;
}
.sets_cart-banner {
    background: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
    padding: 27px 60px;
    margin: 0 0 168px;
}
.sets_cart-banner-inner {
    max-width: 400px;
    margin: 0 76px 0 0;
}
.sets_cart-banner-title {
    color: #000000;
    font: 700 28px/34px 'Open Sans', sans-serif;
    margin: 0 0 20px;
}
.sets_cart-banner-link {
    display: inline-block;
    font: 600 20px/32px 'Open Sans', sans-serif;
    text-decoration-line: underline;
    color: #00AFED;
}
.sets_cart-banner-link:hover {
    text-decoration-line: none;
}
.sets_cart-banne-img {
    max-width: 277px;
}
.sets_cart-price-sale {
    display: flex;
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 600;
    margin: -10px 0 20px;
}
.btn_plus .btn {
    width: 244px;
}

@media(max-width: 1940px) {
    .sets_slider {
        height: auto;
    }
    .sets_slider-content {
        position: unset;
        transform: translateX(0);
    }
}

@media(max-width: 1150px) {
    .sets_cart-inner {
        padding: 24px 40px;
    }
    .sets_cart-img {
        max-width: 430px;
    }
}
@media(max-width: 900px) {
    .sets_slider:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 5px;
        width: 32px;
        height: 32px;
        z-index: 100;
        background: url(/wp-content/themes/html5blank-master/images/swipe.png) 50% 50% no-repeat;
    }
    .sets_include-tabs {
        display: flex;
        margin: 24px auto 57px;
    }
    .sets_include-tab-content {
        display: none;
    }
    .sets_include-tab-content:first-child {
        display: block;
    }
    .sets_include-title {
        margin: 174px auto 0;
    }
    .sets_include-content-title {
        justify-content: center;
        text-align: center;
    }
    .sets_include-number {
        display: none;
    }
    .sets_include-subtitle {
        margin: 0 auto;
    }
    .sets_include-content-hr {
        display: none;
    }
    .sets_include-txt {
        flex-direction: column-reverse;
    }
    .sets_include-img {
        margin: 32px auto 22px;
    }
    .sets_benefits-inner {
        flex-wrap: wrap;
    }
    .sets_benefits-item {
        max-width: 329px;
        margin: 0 0 36px;
    }
    .sets_benefits {
        margin: 148px auto 85px;
    }
    .sets_cart-img {
        max-width: 310px;
    }
    .sets_cart-banner {
        padding: 27px 24px;
    }
    .sets_cart-banner-inner {
        margin: 0 15px 0 0;
    }
    .sets_cart-inner {
        padding: 24px 24px 24px 0;
    }
}

@media(max-width: 600px) {
    .main {
        padding: 0 16px;
    }
    .main_subtitle {
        font-size: 18px;
        line-height: 25px;
    }
    .main_title {
        font-size: 44px;
        line-height: 50px;
    }
    .main_description {
        font-size: 18px;
        line-height: 25px;
    }
    .main_price {
        font-size: 32px;
        line-height: 38px;
    }
    .main .buy-btn {
        display: block;
        margin: 0 0 20px;
    }
    .sets_slider {
        margin: 84px auto 75px;
    }
    .sets_slider-title {
        font-size: 36px;
        line-height: 44px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228256);
        text-align: left;
        top: 62px;
        left: 22px;
        transform: none;
        padding: 0 22px 0 0;
        max-width: 291px;
    }
    .sets_include {
        padding: 0 16px;
    }
    .sets_include-evosound {
        max-width: 380px;
    }
    .sets_include-title {
        margin: 0 auto;
        font-size: 34px;
        line-height: 40px;
    }
    .sets_include-subtitle {
        font-size: 22px;
        line-height: 28px;
    }
    .sets_include-list {
        font-size: 16px;
        line-height: 24px;
    }
    .sets_include-link {
        font-size: 16px;
        line-height: 24px;
    }
    .sets_video {
        margin: 84px auto 0;
    }
    .sets_video-title {
        top: 14px;
        left: 30px;
        font-size: 20px;
        line-height: 26px;
        max-width: 211px;
    }
    .sets_video-watch {
        top: 100px;
        left: 18px;
        padding: 0 34px 0 0;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.875px;
    }
    .sets_video-watch:after {
        width: 24px;
        height: 24px;
    }
    .sets_benefits {
        padding: 0 16px;
        margin: 84px auto;
    }
    .sets_benefits-item {
        text-align: center;
        margin: 0 auto 36px;
    }
    .sets_benefits-price-img,
    .sets_benefits-garantee-img,
    .sets_benefits-complex-img {
        margin: 0 auto;
    }
    .sets_benefits-title {
        font-size: 34px;
        line-height: 40px;
        margin: 0 0 48px;
    }
    .sets_cart-inner {
        flex-direction: column;
        padding: 0 0 58px;
    }
    .sets_cart-item{
        max-width: unset;
        width: 100%;
        padding: 0 26px;
    }
    .sets_cart-txt {
        font-size: 14px;
        line-height: 18px;
    }
    .sets_cart-title {
        font-size: 24px;
        line-height: 30px;
    }
    .sets_cart-price {
        font-size: 32px;
        line-height: 38px;
    }
    .sets_cart-banner {
        flex-direction: column;
    }
    .sets_cart-banner-title {
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 10px;
    }
    .sets_cart-banne-img {
        margin: 30px auto 0;
    }
    .sets_cart-banner-link {
        font-size: 16px;
        line-height: 24px;
    }
    .sets_cart-btn, .sets_cart .btn {
        padding: 4px 0;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 374px) {
    .sets_slider .item {
        width: 310px;
    }
}

.delivery-bg {
    background: url('/wp-content/uploads/2019/08/bg_delivery_KS_desktop.jpg?id=24375') no-repeat center bottom;
    height: 350px;
    text-align: center;
    margin: -80px 0 0px;
}
.delivery-bg hr {
    margin: 0 0 40px;
}
.delivery-bg_title {
    color: #333333;
}
.delivery-bg_link {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #00afed;
    background-color: transparent;
    margin: 20px auto 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
.delivery-bg_link:hover {
    text-decoration: none;
    opacity: 0.6;
    color: #00afed;
}
@media (max-width: 767px) {
    .main_subtitle {
        margin: 166px 0 0;
    }
}
@media(max-width: 990px) {
    .sets_include-tabs {
        max-width: 320px;
    }
}
