* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    border: 0;
}
/* FONTS */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
img {
    width: 100%;
    height: 100%;
}
/*МОДИФИКАТОРЫ*/
.flex {
    display: flex;
}
.flex_jc-c {
    display: flex;
    justify-content: center;
}
.flex_ai-c {
    display: flex;
    align-items: center;
}
.flex_ai-c_jc-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ta-c {
    text-align: center;
}
.hide {
    display: none;
}

/*БАЗОВЫЕ КЛАССЫ*/
.base_container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
.base_btn {
    display: block;
    border-radius: 4px;
    text-align: center;
    padding: 19px 50px;
    background: #00afed;
    color: #fff;
    font: 700 21px/21px 'Open Sans', sans-serif;
    transition: all .3s linear;
}
.base_btn:hover {
    transition: all .3s linear;
    background: rgba(0, 175, 237, .8);
}
.base_btn.transparent {
    color: #00afed;
    background: transparent;
    border: 2px solid #00afed;
}
.base_btn.transparent:hover {
    background: #00afed;
    color: #fff;
}
.base_price-box {
    display: flex;
    align-items: center;
    margin: 0 0 8px;
}
.base_price-old {
    color: #979797;
    text-decoration-line: line-through;
    font: 400 24px/24px 'Open Sans', sans-serif;
}
.base_price-profit {
    color: #7F21F7;
    border: thin solid #7F21F7;
    padding: 6px 10px;
    margin: 0 0 0 32px;
    font: 400 16px/20px 'Open Sans', sans-serif;
}
.base_price-current {
    font: 400 45px/50px 'Open Sans', sans-serif;
    color: #222020;
    margin: 0 0 24px;
}
.base_double {
    display: flex;
    align-items: center;
}
.base_double-btn {
    width: 170px;
    font: 700 18px/56px 'Open Sans', sans-serif;
    margin: 0 4px;
    border-radius: 4px;
    transition: all .2s linear;
}
@media(max-width: 480px) {
    .base_double-btn {
        width: 148px;
    }
}
.base_double-dark {
    background: #192F43;
    color: #fff;
}
.base_double-light {
    background: #C7E7F8;
    color: #192F43;
}
.base_double-btn:hover {
    background: rgba(0, 175, 237, .8);
    color: #fff;
    transition: all .2s linear;
}



/*MODALS*/
.modal {
    display: block;
    opacity: 0;
    position: fixed;
    z-index: -1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.modal-is-open {
    overflow: hidden;
    height: 100%;
}
.modal_overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
    background: #fff;
}
.modal_wrapper {
    margin: auto;
    z-index: 10;
    max-width: 1340px;
    width: 100%;
    position: relative;
    opacity: 0;
    transition: all 0.3s linear;
    padding: 70px 100px;
    background: #fff;
    transform: scale(0.7);
}
.modal.is-visible {
    z-index: 1000;
    opacity: 1;
}
.modal.is-visible .modal_overlay {
    opacity: 1;
    visibility: visible;
}
.modal.is-visible .modal_wrapper {
    transform: scale(1);
    opacity: 1;
}
.modal_slide {
    position: absolute;
    top: -1000px;
    max-width: 1135px;
}
.modal_slide.active {
    position: static;
    top: 0;
}
.item {
    max-width: 1135px;
    width: 100%;
    overflow: hidden;
}
.slick-slide img {
    /*max-width: 1135px;*/
    width: 100%;
}
.slick-slide {
    opacity: 0;
    transition: all .3s linear;
}
.slick-slide.slick-current.slick-active {
    opacity: 1;
}
.slick-arrow {
    background: transparent;
    font-size: 0;
    width: 20px;
    height: 20px;
    border: none;
    flex-shrink: 0;
    position: relative;
    z-index: 100;
}
.slick-arrow:hover:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(195, 208, 217, 0.4);
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
.slick-arrow:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border: none;
    border-top: 2.7px solid #2B3640;
    border-left: 2.7px solid #2B3640;
    transform-origin: 50% 50%;
}
.slick-prev:after {
    transform: translate(-40%, -50%) rotate(-45deg);
}
.slick-next:after {
    transform: translate(-50%, -50%) rotate(135deg);
}
.modal_slider {
    display: flex;
    align-items: center;
}
.modal_close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 10px;
    opacity: 0;
    background: linear-gradient(0deg, #F0F6FA, #F0F6FA), rgba(195, 208, 217, 0.4);
}
.modal.is-visible .modal_close {
    opacity: 1;
    transition: all .2s linear .3s;
}
.modal_close .base_container {
    display: flex;
    justify-content: flex-end;
}
.modal_close-btn,
.bar_bigger {
    background: rgba(195, 208, 217, 0.4);
    border-radius: 29px;
    padding: 5px 10px 5px 40px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #18212D;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 21px;
}
.modal_close-btn:hover,
.bar_bigger:hover {
    opacity: 0.5;
}
.modal_close-btn:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: url(/svg/ic-minimize.svg) no-repeat center/contain;
}
.bar_bigger:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: url(/svg/ic-maximize.svg) no-repeat center/contain;
}
@media(max-width: 760px) {
    .modal_close-btn, .bar_bigger {
        font-size: 0;
        width: 36px;
        height: 36px;
        padding: 14px;
        margin: 0 0 0 20px;
    }

    .modal_close-btn:before,
    .bar_bigger:before {
        top: 10px;
        left: 10px;
    }

    .modal_wrapper {
        padding: 70px 20px;
        /*display: flex;*/
        /*align-items: center;*/
        /*height: calc(100vh - 200px);*/
    }

    .slick-list.draggable {
        padding: 0 !important;
    }

    .modal_slide {
        margin: 100px auto 0;
    }
}



/*ХЕДЕР*/
/*HEADER NEW*/
/*Базове стили для дропдаун*/
.base_dropdown {
    position: relative;
}
.base_dropdown-content {
    position: absolute;
    top: 63px;
    left: -154px;
    background: #fff;
    height: 560px;
    min-width: 1140px;
    border-radius: 10px;
    padding: 24px 40px;
    opacity: 0;
    z-index: -1100;
    transform: translateY(-30px);
    transition: all .3s linear;
    animation: hideBlock .3s linear forwards;
}
@keyframes showBlock {
    0% {
        z-index: -1100;
    }
    5% {
        z-index: 1100;
    }
    100% {
        z-index: 1100;
    }
}
@keyframes hideBlock {
    0% {
        z-index: 1100;
    }
    95% {
        z-index: -1100;
    }
    100% {
        z-index: -1100;
    }
}
.base_dropdown:hover .base_dropdown-content {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s linear;
    animation: showBlock .3s linear forwards;
}
.base_dropdown:hover .base_dropdown-content:before {
    content: '';
    width: 100%;
    height: 30px;
    background: transparent;
    position: absolute;
    top: -30px;
    left: 0;
}
.header_overlay {
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
    transition: all .3s linear;
}
.header_overlay.active {
    opacity: 1;
    z-index: 1000;
    transition: all .3s linear;
}

.header-desk {
    max-width: 1140px;
    margin: 0 auto;
    padding: 9px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1200px) {
    .header-desk {
        padding: 9px 20px;
        max-width: unset;
    }
}
.header-desk_logo {
    max-width: 126px;
}
.header-desk_link {
    display: block;
    color: #222020;
    padding: 6px 10px 8px;
    border-radius: 33px;
    font: 600 16px/20px 'Open Sans', sans-serif;
    transition: .2s ease-in-out;
}
.header-desk_link.active,
.header-desk_link:hover {
    background: #F5C753;
    text-decoration: none;
    color: #222020;
    transition: .2s ease-in-out;
}
.header-desk_dropdown {
    display: flex;
}
.header-desk_title {
    color: #222020;
    margin: 0 0 28px;
    font: 700 24px/28px 'Open Sans', sans-serif;
}
.header-desk_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 262px;
    color: #222020;
    margin: 0 0 21px;
    font: 600 18px/24px 'Open Sans', sans-serif;
}
.header-desk_tab:hover,
.header-desk_tab.active {
    color: #FFA200;
    text-decoration: none;
}
.header-desk_tab:hover:after,
.header-desk_tab.active:after {
    content: '';
    width: 24px;
    height: 24px;
    background: url(/images/menu/ic-arrow.svg) no-repeat center/contain;
}
.header-desk_subtabs {
    position: absolute;
    left: 340px;
    margin: 59px 0 0 0;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
    display: flex;
    align-items: flex-start;
}
.header-desk_subtabs.active {
    opacity: 1;
    z-index: 10;
}
.header-desk_subtabs-links {
    transform: translateX(-100px);
    position: relative;
    opacity: 0;
}
.header-desk_subtabs.active .header-desk_subtabs-links {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s linear;
}

.header-desk_subtab {
    display: block;
    color: #222020;
    min-width: 238px;
    margin: 0 0 24px;
    font: 600 18px/22px 'Open Sans', sans-serif;
}
.header-desk_subtab span {
    display: block;
    color: rgba(34, 32, 32, 0.5);
    font: 400 17px/22px 'Open Sans', sans-serif;
}
.header-desk_subtab:hover,
.header-desk_subtab.active {
    color: #FFA200;
    text-decoration: none;
}
.header-desk_images {
    width: 386px;
    max-height: 386px;
    height: 386px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 36px;
}
.header-desk_images img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s linear .2s;
}
.header-desk_images img.active {
    opacity: 1;
    transition: all .3s linear .2s;
}
.header-desk_call {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background: url(/images/menu/ic-call.svg) no-repeat center/24px;
}
.header-desk_call:hover,
.header-desk_call.active {
    background: url(/images/menu/ic-call.svg) #F5C753 no-repeat center/24px;
}
.header-desk_login {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background: url(/images/menu/ic-user.svg) no-repeat center/24px;
}
.header-desk_login:hover {
    background: url(/images/menu/ic-user.svg) #F5C753 no-repeat center/24px;
}
.header-desk_lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 172px;
    height: 64px;
    padding: 17px 36px 13px;
    left: calc(50% - 10px);
    transform: translate(-50%, -30px);
}
.base_dropdown:hover .header-desk_lang {
    transform: translate(-50%, 0);
}
.header-desk_lang-link {
    display: block;
    background: linear-gradient(0deg, #F0F1F0, #F0F1F0);
    border-radius: 24px;
    color: #222020;
    font: 600 16px/20px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 6px 10px 8px;
    transition: .2s ease-in-out;
}
.header-desk_lang-link:hover {
    background: #F5C753;
    text-decoration: none;
    color: inherit;
}
.header-desk_call-content {
    min-width: 256px;
    top: 65px;
    height: auto;
    padding: 24px 27px;
    left: calc(50% - 52px);
    transform: translate(-50%, -30px);
}
.base_dropdown:hover .header-desk_call-content {
    transform: translate(-50%, 0);
}
.header-desk_call-row {
    cursor: default;
    margin: 0 auto 24px;
    color: rgba(34, 32, 32, 0.5);
    font: 400 14px/18px 'Open Sans', sans-serif;
}
.header-desk_call-row:last-child {
    margin: 0 auto;
}
.header-desk_call-phone {
    color: #222020;
    margin: 0 0 4px;
    font: 600 24px/28px 'Open Sans', sans-serif;
}
.header-desk_call-phone:hover {
    text-decoration: none;
    color: #00AFED;
    opacity: 1;
}
/*MOBILE HEADER*/
.header-mobile {
    padding: 9px 18px;
    display: none;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 1070px) {
    .header-desk {
        display: none;
    }
    .header-mobile {
        display: flex;
    }
    .wrapper-myan-dop-menu#second-level-menu {
        top: 56px;
    }
}
.header-mobile_burger {
    width: 38px;
    height: 38px;
    background: url(/images/menu/ic-burger.svg) no-repeat center/24px;
}
.header-mobile_logo {
    width: 122px;
}
.header-mobile_cart {
    width: 38px;
    height: 38px;
    background: url(/images/menu/ic-cart.svg) no-repeat center/24px;
}
.header-mobile_call {
    width: 38px;
    height: 38px;
    background: url(/images/menu/ic-call.svg) no-repeat center/24px;
}
.header-mobile_callback-icon {
    width: 38px;
    height: 38px;
}
.header-mobile_call.active {
    border-radius: 50%;
    background: url(/images/menu/ic-call.svg) #F5C753 no-repeat center/24px;
}
.header-mobile_login {
    width: 38px;
    height: 38px;
    margin: 0 0 0 24px;
    background: url(/images/menu/ic-user.svg) no-repeat center/24px;
}
.header-mobile_header {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 18px;
    margin: 0 -6px 8px;
}
.header-mobile_close {
    width: 38px;
    height: 38px;
    background: url(/images/menu/ic-close.svg) no-repeat center/24px;
}
.header-mobile_header .header-mobile_call {
    margin: 0 0 0 auto;
}
.header-mobile_menu {
    height: 100vh;
    width: 100%;
    background: #fff;
    padding: 0 24px 8px;
    position: absolute;
    top: 60px;
}
.header-mobile_menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 11px;
    color: #222020;
    font: 600 18px/24px 'Open Sans', sans-serif;
}
.header-mobile_menu-link:focus,
.header-mobile_menu-link:hover {
    text-decoration: none;
    color: inherit;
}
.header-mobile_menu-arrow:after {
    content: '';
    width: 24px;
    height: 24px;
    background: url(/images/menu/ic-arrow-black.svg) no-repeat center/contain;
}
.header-mobile_menu-langs {
    display: flex;
    align-items: center;
    margin: 34px 0 0;
}
.header-mobile_menu-lang {
    display: block;
    margin: 0 18px 0 0;
    background: linear-gradient(0deg, #F0F1F0, #F0F1F0);
    border-radius: 24px;
    color: #222020;
    padding: 6px 10px 8px;
    font: 600 18px/24px 'Open Sans', sans-serif;
}
.header-mobile_menu-lang:focus,
.header-mobile_menu-lang:hover {
    text-decoration: none;
    color: inherit;
}
.header-mobile_menu-lang.active {
    background: #F5C753;
}

/*MOBILE MENU PRODUCT*/
.header-mobile_product {
    height: 100vh;
    background: #fff;
    padding: 0 24px 82px;
    overflow-y: auto;
    position: absolute;
    top: 60px;
    width: 100%;
}
.header-mobile_product-close {
    display: inline-flex;
    align-items: center;
    color: #222020;
    margin: 0 0 16px;
    padding: 6px 15px 6px 5px;
    font: 600 18px/24px 'Open Sans', sans-serif;
    background: #F5C753;
    border-radius: 34px;
    cursor: pointer;
}
.header-mobile_product-close:before {
    content: '';
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    background: url(/images/menu/ic-arrow-black.svg) no-repeat center/contain;
}

.header-mobile_product-inner {
    margin: 0 0 36px;
}
.header-mobile_product-title {
    display: block;
    color: rgba(34, 32, 32, 0.5);
    font: 600 24px/32px 'Open Sans', sans-serif;
    margin: 0 0 24px;
}
.header-mobile_product-title:focus,
.header-mobile_product-title:hover {
    text-decoration: none;
    color: inherit;
}
.header-mobile_product-link {
    display: flex;
    align-items: flex-start;
    margin: 0 0 24px;
    color: #222020;
    font: 600 18px/24px 'Open Sans', sans-serif;
}
.header-mobile_product-link span {
    color: rgba(34, 32, 32, 0.5);
    font: 400 17px/22px 'Open Sans', sans-serif;
}
.header-mobile_product-link:focus,
.header-mobile_product-link:hover {
    text-decoration: none;
    color: inherit;
}
.header-mobile_product-img {
    width: 44px;
    margin: 0 11px 0 0;
    border-radius: 6px;
    overflow: hidden;
}

/*MOBILE CALL*/
.header-mobile_callback {
    height: 100vh;
    background: #fff;
    padding: 57px 76px 8px;
}
.header-mobile_callback-row {
    margin: 0 0 24px;
    color: rgba(34, 32, 32, 0.5);
    font: 400 14px/18px 'Open Sans', sans-serif;
}
.header-mobile_callback-row:last-child {
    margin: 0;
}
.header-mobile_callback-phone {
    display: block;
    color: #00AFED;
    margin: 0 0 4px;
    font: 600 24px/28px 'Open Sans', sans-serif;
}
.header-mobile_callback-phone:focus {
    text-decoration: none;
}

.header_modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1001;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.header_modal.slide-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease-in-out;
}
.header_modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}
.header_modal.is-visible {
    opacity: 1;
    z-index: 1001;
}
.header_modal-body {
    max-width: 375px;
    height: 100vh;
    width: 100%;
    background: #fff;
    transform: translateX(-375px);
    transition: all .5s ease-in-out;
    overflow: hidden;
    z-index: 1001;
    position: relative;
}
.header_modal.is-visible .header_modal-body {
    transform: translateX(0);
    transition: all .5s ease-in-out;
}
.header-mobile_menu {
    opacity: 0;
    transform: translateX(-100px);
    transition: all .7s ease-in-out;
}
.header-mobile_menu.is-visible {
    opacity: 1;
    transform: translateX(0);
    transition: all .7s ease-in-out ;
}
.header-mobile_menu-arrow:after {
    opacity: 0;
}
.header-mobile_menu.is-visible .header-mobile_menu-arrow:after {
    transition: all .1s ease-in-out .5s;
    opacity: 1;
}
.header-mobile_menu.slide-left {
    transform: translateX(0);
    opacity: 1;
    transition: all .5s ease-in-out;
}
.header-mobile_product {
    opacity: 0;
    transform: translateX(375px);
    transition: all .5s ease-in-out;
}
.header-mobile_product.is-visible {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}
.header-mobile_callback {
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    z-index: -100;
    width: 100%;
    transition: all .2s ease-in;
}
.header-mobile_callback.is-visible {
    opacity: 1;
    z-index: 100;
    transition: all .2s ease-in;
}
